:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #213547;
  background-color: #f9fafb;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  display: block;
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}
